<div class="container text-center">
    <div class="col-xs-12 col-md-12" style="margin: 25px 25px 70px 25px;">
        <h1 class="fw-bolder" style="margin: 20px;" [style.color]="themeColor === 'white' ? 'black' : 'white'">About Me</h1>
        <mat-divider></mat-divider>
    </div>
    
    <div class="row"> 
        <div class="col-xs-12 col-lg-6">
            <img src="assets/img/fotoCurriculo_Linkedin.PNG" alt="">
            <div class="m-3">
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="linkedin" (click)="navigateTo('https://www.linkedin.com/in/joao-giudice')"></mat-icon>
                </button>
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="Github" (click)="navigateTo('https://github.com/Azurba')"></mat-icon>
                </button>
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="facebook" (click)="navigateTo('https://www.facebook.com/joaohpg')"></mat-icon>
                </button>            
            </div>
        </div>
        <div class="col-xs-12 col-lg-6" style="text-align: center;">
            <h2 [style.color]="themeColor === 'white' ? 'black' : 'white'">Hi! I'm John! I am <span style="font-weight: bolder;">{{text[index]}}</span></h2>
            <p [style.color]="themeColor === 'white' ? 'black' : 'white'">I am a Full Stack developer with a focus on Web and Mobile software development.

                My main stack is .NET and Flutter, but I have experience in several technologies and tools including React, Angular, C#, SQL, Azure, Docker, and CI/CD.
                
                I am able to solve complex problems, review code and design efficient and scalable solutions. In addition, I focus on SOLID and TDD principles to ensure that the code is maintainable and of high quality.
            </p>
            <!-- <div class="m-3">
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="linkedin" (click)="navigateTo('https://www.linkedin.com/in/john-henryp/')"></mat-icon>
                </button>
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="Github" (click)="navigateTo('https://github.com/Azurba')"></mat-icon>
                </button>
                <button mat-icon-button style="border: none;" [style.background-color]="themeColor === 'white' ? 'white' : 'black'">
                    <mat-icon svgIcon="facebook" (click)="navigateTo('https://www.facebook.com/joaohpg')"></mat-icon>
                </button>            
            </div> -->
            <button type="button" class="btn btn-success btn-lg" (click)="toggleLanguageButtons()"><a style="text-decoration:none; color: white;">PDF Resume</a></button>
        </div>
        <div *ngIf="showLanguageButtons">
            <p>In which language would you like the resume?</p>
            <button type="button" class="btn btn-success btn-lg" (click)="downloadResume('BR')">Português (BR)</button>
            <button type="button" class="btn btn-success btn-lg" (click)="downloadResume('US')">English</button>
        </div>
    </div>
    <!-- Tech Stack -->
    <div class="row">
        <h2 [style.color]="themeColor === 'white' ? 'black' : 'white'" class="col-12" style="margin-bottom: 30px; margin-top: 30px;">Tech Stack</h2>
        <div class="col-4 col-md-3 col-lg-2" *ngFor="let shield of techBadges">
            <img class="badges" src={{shield}} alt="">
        </div>
    </div>
</div>
