<nav class="navbar bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <div>
        <img src="assets/img/john_piment_white_center.png" alt="" style="height: 80px;width: 250px;">
        <!-- <img src="assets/img/New-Project.png" alt="" style="height: 80px;width: 250px;"> -->
      </div>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="white-color" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="white-color" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="white-color" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="white-color" href="#">Projects</a>
          </li>
        </ul> -->
        <div class="row justify-content-center">
          <div class="col-sm-6 d-flex align-items-center justify-content-center text-center" style="margin-top: 10px;">
            <mat-icon style= "margin-top: 5px; color: white;">format_color_fill</mat-icon>
          </div>
          <div class="col-sm-6 d-flex align-items-center justify-content-center text-center" style="margin-top: 10px;">
            <mat-slide-toggle style="--mat-slide-toggle-bar-color: var(--my-custom-color);" (change)="isToggled()"></mat-slide-toggle>
          </div>
        </div>
      </div>
    <!-- </div> -->
</nav>
