<div class="d-flex align-items-center justify-content-center" style="background-color: black; height: 100vh;">
  <app-not-available></app-not-available>
</div>

<!-- <div [style.background-color]="color">
  <app-header (isDarkTheme)="isDarkTheme($event)"></app-header>
  <app-about [themeColor]="themeColor"></app-about>
  <app-education [themeColor]="themeColor"></app-education>
  <app-experience [themeColor]="themeColor"></app-experience>
  <app-projects [themeColor]="themeColor"></app-projects>
  <app-footer></app-footer>
</div> -->
